* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100vh;
    background-color: #E5E5E5;
    background-color: rgb(42, 42, 42);
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
}

/* Typography */

body {
    color: #FFF;
    font-family: Poppins;
    line-height: 1.6;
}

h1 {
    font-family: IvyPresto-Display;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.content-text {
    font-size: .9rem;
    margin-bottom: 2em;
}

.subtitle {
    font-size: .8rem;
    margin: 0;
    margin-bottom: 2em;
}

.title-break {
    display: block;
}

.clock {
    font-size: 2.5rem;
    font-family: IvyPresto-Display;
    font-weight: 700;
    margin: 0;
}

.digit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}

/* Icon links and submit button */

#fa-icon {
    height: 36px;
    width: 24px;
    line-height: 36px;
}

.icon {
    color: #e1e1e1;
    padding: .5em;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    font-size: 1rem;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.icon:hover {
    color: #00A986;
    border-color: #00A986;
    padding: .7em;
}

.icon:focus {
    color: #00A986;
    outline: 1px solid #00A986;
    border: none;
    padding: .7em;
}

.logo-link {
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.logo-link:hover,
.logo-link:focus {
    border-bottom: 2px solid #00A986;
    outline: none;
}

input[type=email]:focus {
    color: #00A986;
    outline: 3px solid #00A986;
    border: none;
}

button {
    background-color: #00A986;
    color: #FFF;
    font-weight: 300;
    border: 0;
    border-radius: 24px;
    padding: 1em 2em;
    margin-bottom: 2em;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

button:hover {
    background-color: #007a62;
}

button:focus {
    color: #e1e1e1;
    outline: 3px solid #e1e1e1;
    border: none;
}

button:active {
    border: none;
    outline: none;
    transform: translate(2px, 2px);
}

/* Layout */

main {
    margin: 0 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    animation: fadeIn ease-in 1s;
    -webkit-animation: fadeIn ease-in 1s;
    -moz-animation: fadeIn ease-in 1s;
    -o-animation: fadeIn ease-in 1s;
    -ms-animation: fadeIn ease-in 1s;
}

/* Text fade in animation */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

aside {
    place-content: center;
}

ul {
    display: flex;
    padding: 0;
    list-style: none;
}

li {
    margin: 0 .4em;
    text-align: center;
}

.logo-section {
    width: 70%;
}

.logo-image {
    width: 3;
}

/* Countdown */

.countdown-wrapper {
    display: flex;
    align-content: space-between;
    order: -1;
    margin-top: 2em;
    margin-bottom: 3em;
}

.clock-subtitle {
    font-size: .9rem;
    text-align: center;
    margin: 0;
}

/* Form field */

#email-field {
    background-color: #DDDDDD;
    color: #000;
    border: 0;
    border-radius: 24px;
    padding: 1em;
    width: 70%;
    margin-right: .6em;
    margin-bottom: 1em;
}

.screenreader-label {
    display: none;
}

@media(min-width: 820px) {

    main {
        flex-direction: row;
    }
    
    aside {
        width: 50%;
    }
    
    #main-content-wrapper {
        width: 50%;
        height: 100vh;
        justify-content: space-around;        
    }

    .countdown-wrapper {
        order: 0;
    }

    .clock {
        font-size: 3.5rem;
    }

    #email-field {
        width: 50%;
    }
}

@media(min-width: 1100px) {

    h1 {
        font-size: 3rem;
    }

    .logo-image {
        width: 20vw;
    }
    
    #main-content-wrapper {
        width: 40vw;
    }

    aside {
        width: 60%;
    }

    .clock {
        font-size: 4.5rem;
    }

    #email-field {
        width: 70%;
    }
}